{
    "presets": [
        ["react"],
        ["env", {
            "targets": {
                "browsers": ["last 2 versions", "safari >= 9", "not ie < 11"]
            },
            "modules": false,
            "includes": ["transform-class-properties", "transform-object-rest-spread"],
            "useBuiltIns": "entry"
        }]
    ],
    "plugins": [
      ["transform-runtime", {
        "helpers": false,
        "polyfill": false,
        "regenerator": true,
        "moduleName": "babel-runtime"
      }],
        "syntax-dynamic-import",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread"
    ]
}
